<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<!-- bean definitions go here -->
	
	<bean id="address" class="com.andor.springtutorial.bean.Address">
		<property name="city" value="coimbatore" />
		<property name="state" value="Tamil nadu" />
		<property name="country" value="India" />
	</bean>
	
	<bean id="employee" class="com.andor.springtutorial.bean.Employee" autowire="byName">
		<property name="name" value="Anmol" />
		<property name="phNumber" value="9176298332"/>
<!-- 		<property name="address"> -->
<!-- 			<ref bean="address" /> -->
<!-- 		</property> -->
		<property name="otherInfo">
			<map>
				<entry key="Married" value="no"></entry>
				<entry key="Kids" value="no"></entry>
			</map>
		</property>
	</bean>
	
	<bean id="manager" class="com.andor.springtutorial.bean.Manager">
		<property name="name" value="Aviral" />
		<property name="designation" value="Sr.Manager" />
		<property name="listEmployee">
			<list>
				<ref bean="employee" />
				<ref bean="employee" />
			</list>
		</property>
	</bean>
</beans>
