<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<!-- bean definitions go here -->
	
	<bean id="address1" class="com.andor.springtutorial.bean.Address">
		<constructor-arg value="coimbatore" />
		<constructor-arg value="Tamil nadu" />
		<constructor-arg value="India" />
	</bean>
	
	<bean id="employee1" class="com.andor.springtutorial.bean.Employee">
		<constructor-arg value="Anmol" />
		<constructor-arg value="9176298332" type="java.lang.Long"/>
		<constructor-arg>
			<ref bean="address1" />
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="Married" value="no"></entry>
				<entry key="Kids" value="no"></entry>
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="manager1" class="com.andor.springtutorial.bean.Manager">
		<constructor-arg value="Aviral" />
		<constructor-arg value="Sr.Manager" />
		<constructor-arg>
			<list>
				<ref bean="employee1" />
				<ref bean="employee1" />
			</list>
		</constructor-arg>
	</bean>
</beans>
